* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #fafa33;
}

a, a:visited, a:active {
	color: #000000;
}

.app {
	padding: 0 3rem 3rem;
	font-family: sans-serif;
}

header {
	padding: 2rem 3rem;
	margin: 0 -3rem 3rem;
	text-align: center;
	font-size: 1.5rem;
	background: rgb(0, 133, 255);
	color: #ffffff;
}

h1 {
	font-size: 3rem;
	text-align: center;
	margin-bottom: .5rem;
}

header p {
	font-style: italic;
}
.person {
	background: #eeeeee;
	border: solid 1px #666666;
	border-radius: .5rem;
	margin: 0 auto 1rem;
	box-shadow: 1rem 1rem 1rem #333333;
	width: 100%;
	display: flex;
	gap: 1rem;
	padding: 1rem;
	max-width: 50rem;
}

.avatar {
	width: 7rem;
}
.avatar img {
	display: block;
	width: 7rem;
	height: 7rem;
	border: solid 1px #666666;
	border-radius: .5rem;
	
}

.main-part {
	flex-grow: 1;
}

.main-part h2, .main-part p {
	margin-bottom: .5rem;
}
.follow-button {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.followers {
	font-style: italic;
}

form {
	margin: 0 auto;
	text-align: center;

	background: #eeeeee;
	border: solid 1px #666666;
	border-radius: .5rem;
	margin: 0 auto;
	box-shadow: 1rem 1rem 1rem #333333;
	width: 100%;
	padding: 1rem;
	max-width: 50rem;

}

form p {
	margin-bottom: 1rem;
}

form label {
	font-weight: bold;
}

form input, form button, .follow-button button {
	font-size: 1rem;
	display: block;
	width: 100%;
	padding: .5rem;
	border: solid 1px #666666;
	border-radius: .5rem;
	margin-bottom: 3rem;
	text-align: center;
}

.follow-button button {
	margin-bottom: 0;
}


.error {
	background: #ffcccc;
	color: #883333;
	padding: .5rem;
	border-radius: .5rem;
}

button {
	color: #ffffff;
	background: rgb(0, 133, 255);
	font-weight: bold;
}

@media screen and (max-width: 800px) {
	.person {
		flex-direction: column;
		text-align: center;
	}

	.avatar {
		width: 100%;
	}
	.avatar img {
		margin: 0 auto;
	}
}
